<form id="form_new_book">
    <input type="hidden" name="user_id" id="user_id" value={{ user_id }}>
    <div class="form-control">
        <label class="form-label">Название книги</label><span class="error" id="err_book_name">
            *</span>
        <textarea name="book_name" class="form-control" id="text_book_name" style="height:15px;" required minlength="1"></textarea>
    </div>

    <div class="form-select form-select-sm">
        <label class="form-label">Факультет</label><span class="error" id="err_fac"> *</span>
        <select hx-post="/changing_facult" hx-target=".reviewer" name="facult" class="form-control">
            <option value="1">ИСиТ</option>
            <option value="2">РТС</option>
            <option value="3">ИКСС</option>
            <option value="4">ФП</option>
        </select>
    </div>

    <div class="form-select form-select-sm">
        <label class="form-label">Рецензер</label><span class="error" id="err_rec"> *</span>
        <select name="reviewer" class="form-control reviewer" id="label_rec">
            <option value="1">Иванов Иван Иванович</option>
            <option value="2">Егоров Егор Егорович</option>
            <option value="3">Мосин Матвей Матвеевич</option>
        </select>
    </div>

    <div class="form-control">
        <label>Выберите файл с книгой для загрузки</label><span class="error" id="err_file"> *</span>
        <input class="form-control" type="file" id="file_book" />
    </div>

    <div class="row m-1">
        <input hx-post="/new_order" hx-target="table" class="btn btn-success btn-lg" type="submit" id="btn_submit_order" value="Подтвердить" />
    </div>

    <div class="row m-1">
        <button class="btn btn-danger btn-lg" type="reset" id="btn_reset_order" href="index.html">Сбросить значения по умолчанию</button>
    </div>
</form>