<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/login_style.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <title>Авторизация в сервисе</title>
</head>

<body>
    <div class="header col-12">
        Сервис подбора экспертов для рецензирования
    </div>

    <div class="row base">
        <div class="col-2 left">
        </div>
        <div class="col-8 middle">
            <form hx-post="/login" hx-target="#username">
                <div class="row email">
                    <label for="username" class="col-4 col-form-label" id="username">Электронная почта/логин/номер телефона</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="username" placeholder="email@example.com" required minlength="1" />
                    </div>
                </div>
                <div class="row pass">
                    <label for="password" class="col-4 col-form-label">Пароль</label>
                    <div class="col-8">
                        <input type="password" class="form-control" name="password" id="label_password" placeholder="Введите пароль..." required
                            minlength="1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" id="button_login">Войти по
                            логин-паролю</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2 right">
        </div>
    </div>
    <div class="footer col-12" id="copyright">
        Модуль авторизации сервиса.<br />
    </div>
</body>

</html>