<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/login_style.css">
    <script src="/assets/htmx.js"></script>
    <title>Авторизация в сервисе</title>
</head>

<body>
    <div class="header col-12">
        <!-- "Верхняя панель" окна приложения -->
        Сервис подбора экспертов для рецензирования
    </div>

    <div class="row base">
        <!-- "Ряд" "основной части" окна приложения -->

        <div class="col-2 left">
        </div>
        <!-- 3/12 слева "основной части" -->

        <div class="col-8 middle">
            <!-- 6/12 посередине "основной части" -->
            <form hx-post="/login" hx-target="#username" >
                <div class="row email">
                    <!-- 0й "Ряд" "основной части" -->
                    <label for="username" class="col-4 col-form-label" id="username">Электронная почта/логин/номер телефона</label>
                    <div class="col-8">
                        <input type="text" class="form-control" name="username" placeholder="email@example.com" required minlength="1"/>
                    </div>
                </div>
                <!-- 0й "Ряд" "основной части" -->

                <div class="row pass">
                    <!-- 1й "Ряд" "основной части" -->
                    <label for="password" class="col-4 col-form-label">Пароль</label>
                    <div class="col-8">
                        <input type="password" class="form-control" name="password" id="label_password"
                            placeholder="Введите пароль..." required minlength="1"/>
                    </div>
                </div>
                <!-- 1й "Ряд" "основной части" -->

                <div class="row">
                    <!-- 2й "Ряд" "основной части" -->
                    <div class="col-12">
                        <button class="btn btn-primary" id="button_login">Войти по
                            логин-паролю</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 6/12 посередине "основной части" -->

        <div class="col-2 right">
            <!-- 3/12 справа "основной части" -->
        </div>
        <!-- 3/12 справа "основной части" -->
    </div>
    <!-- "Ряд" "основной части" окна приложения -->

    <div class="footer col-12" id="copyright">
        <!-- "Нижняя часть" окна -->
        Модуль авторизации сервиса.<br />
    </div>
    <!-- "Нижняя часть" окна -->
</body>

</html>